body {
  --bg-1: #2f3241;
  --bg-2: #26282e;
  --bg-3: #1e2028;
  --text-color: #ededed;
  
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', sans-serif;
  background-color: var(--bg-2);
  color: var(--text-color);
}

* {
  padding: 0;
  margin: 0;
}
